apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    reloader.stakater.com/auto: 'true'
  name: keybuzz-outbound-worker
  namespace: keybuzz-api-dev
spec:
  replicas: 1
  selector:
    matchLabels:
      app: keybuzz-outbound-worker
  template:
    metadata:
      labels:
        app: keybuzz-outbound-worker
    spec:
      containers:
      - command:
        - node
        - dist/workers/outboundWorker.js
        env:
        - name: OUTBOUND_POLL_INTERVAL_MS
          value: '2000'
        - name: SMTP_HOST
          value: 49.13.35.167
        - name: SMTP_PORT
          value: '25'
        - name: SMTP_SECURE
          value: 'false'
        - name: SMTP_TLS_REJECT_UNAUTHORIZED
          value: 'false'
        - name: MINIO_ENDPOINT
          value: http://10.0.0.11:9000
        - name: MINIO_ACCESS_KEY
          valueFrom:
            secretKeyRef:
              key: access-key
              name: minio-credentials
        - name: MINIO_SECRET_KEY
          valueFrom:
            secretKeyRef:
              key: secret-key
              name: minio-credentials
        - name: MINIO_BUCKET_ATTACHMENTS
          value: keybuzz-attachments
        envFrom:
        - secretRef:
            name: keybuzz-api-postgres
        - secretRef:
            name: keybuzz-ses
        image: ghcr.io/keybuzzio/keybuzz-api:v3.3.9-ph326-golden-unified
        livenessProbe:
          exec:
            command:
            - /bin/sh
            - -c
            - ps aux | grep outboundWorker.js | grep -v grep
          initialDelaySeconds: 10
          periodSeconds: 30
        name: worker
        readinessProbe:
          exec:
            command:
            - /bin/sh
            - -c
            - ps aux | grep outboundWorker.js | grep -v grep
          initialDelaySeconds: 5
          periodSeconds: 10
        resources:
          limits:
            cpu: 200m
            memory: 256Mi
          requests:
            cpu: 50m
            memory: 128Mi
      imagePullSecrets:
      - name: ghcr-cred
      restartPolicy: Always
