[Unit]
Description=etcd - distributed reliable key-value store for Patroni RAFT
Documentation=https://etcd.io
After=network.target

[Service]
Type=notify
User=etcd
Group=etcd
EnvironmentFile=/etc/default/etcd
ExecStart=/usr/local/bin/etcd
Restart=always
RestartSec=10s
LimitNOFILE=40000

[Install]
WantedBy=multi-user.target

