[Unit]
Description=High availability PostgreSQL Cluster - Patroni
After=syslog.target network.target

[Service]
Type=notify
User=postgres
Group=postgres
ExecStart=/usr/local/bin/patroni /etc/patroni.yml
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=process
TimeoutSec=30
Restart=on-failure
RestartSec=5s

# Security settings
PrivateTmp=yes
ProtectSystem=full
ProtectHome=read-only
ReadWritePaths={{ postgres_data_dir }}

# Resource limits
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target

