apiVersion: apps/v1
kind: Deployment
metadata:
  name: keybuzz-client
  namespace: keybuzz-client-dev
  labels:
    app: keybuzz-client
spec:
  replicas: 1
  selector:
    matchLabels:
      app: keybuzz-client
  template:
    metadata:
      labels:
        app: keybuzz-client
    spec:
      imagePullSecrets:
        - name: ghcr-secret
      containers:
        - name: keybuzz-client
          image: ghcr.io/keybuzzio/keybuzz-client:v0.2.6-dev
          imagePullPolicy: Always
          ports:
            - containerPort: 3000
              name: http
          env:
            - name: NODE_ENV
              value: "production"
            - name: NEXT_PUBLIC_API_URL
              value: "https://api-dev.keybuzz.io"
          resources:
            requests:
              memory: "128Mi"
              cpu: "100m"
            limits:
              memory: "512Mi"
              cpu: "500m"
          livenessProbe:
            httpGet:
              path: /inbox
              port: 3000
            initialDelaySeconds: 10
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /inbox
              port: 3000
            initialDelaySeconds: 5
            periodSeconds: 5
