apiVersion: v1
kind: Secret
metadata:
  name: keybuzz-api-secrets
  namespace: {{ keybuzz_namespace | default('keybuzz') }}
type: Opaque
data:
  postgres-url: "{{ lookup('community.hashi_vault.hashi_vault', 'secret=kv/keybuzz/apps/keybuzz-api:postgres-url', url='https://vault.keybuzz.io:8200', auth_method='approle', role_id=lookup('file', '/vault/keybuzz-api-role-id'), secret_id=lookup('file', '/vault/keybuzz-api-secret-id'), verify=False) | b64encode }}"
  redis-url: "{{ lookup('community.hashi_vault.hashi_vault', 'secret=kv/keybuzz/apps/keybuzz-api:redis-url', url='https://vault.keybuzz.io:8200', auth_method='approle', role_id=lookup('file', '/vault/keybuzz-api-role-id'), secret_id=lookup('file', '/vault/keybuzz-api-secret-id'), verify=False) | b64encode }}"
  rabbitmq-url: "{{ lookup('community.hashi_vault.hashi_vault', 'secret=kv/keybuzz/apps/keybuzz-api:rabbitmq-url', url='https://vault.keybuzz.io:8200', auth_method='approle', role_id=lookup('file', '/vault/keybuzz-api-role-id'), secret_id=lookup('file', '/vault/keybuzz-api-secret-id'), verify=False) | b64encode }}"
  jwt-secret: "{{ lookup('community.hashi_vault.hashi_vault', 'secret=kv/keybuzz/apps/keybuzz-api:jwt-secret', url='https://vault.keybuzz.io:8200', auth_method='approle', role_id=lookup('file', '/vault/keybuzz-api-role-id'), secret_id=lookup('file', '/vault/keybuzz-api-secret-id'), verify=False) | b64encode }}"

