apiVersion: v1
kind: Secret
metadata:
  name: keybuzz-workers-secrets
  namespace: {{ keybuzz_namespace | default('keybuzz') }}
type: Opaque
data:
  api-token: "{{ lookup('community.hashi_vault.hashi_vault', 'secret=kv/keybuzz/apps/keybuzz-workers:api-token', url='https://vault.keybuzz.io:8200', auth_method='approle', role_id=lookup('file', '/vault/keybuzz-workers-role-id'), secret_id=lookup('file', '/vault/keybuzz-workers-secret-id'), verify=False) | b64encode }}"
  rabbitmq-url: "{{ lookup('community.hashi_vault.hashi_vault', 'secret=kv/keybuzz/apps/keybuzz-workers:rabbitmq-url', url='https://vault.keybuzz.io:8200', auth_method='approle', role_id=lookup('file', '/vault/keybuzz-workers-role-id'), secret_id=lookup('file', '/vault/keybuzz-workers-secret-id'), verify=False) | b64encode }}"
  redis-url: "{{ lookup('community.hashi_vault.hashi_vault', 'secret=kv/keybuzz/apps/keybuzz-workers:redis-url', url='https://vault.keybuzz.io:8200', auth_method='approle', role_id=lookup('file', '/vault/keybuzz-workers-role-id'), secret_id=lookup('file', '/vault/keybuzz-workers-secret-id'), verify=False) | b64encode }}"

