apiVersion: v1
kind: Secret
metadata:
  name: n8n-secrets
  namespace: {{ n8n_namespace | default('keybuzz') }}
type: Opaque
data:
  rabbitmq-url: "{{ lookup('community.hashi_vault.hashi_vault', 'secret=kv/keybuzz/apps/n8n:rabbitmq-url', url='https://vault.keybuzz.io:8200', auth_method='approle', role_id=lookup('file', '/vault/n8n-role-id'), secret_id=lookup('file', '/vault/n8n-secret-id'), verify=False) | b64encode }}"
  redis-url: "{{ lookup('community.hashi_vault.hashi_vault', 'secret=kv/keybuzz/apps/n8n:redis-url', url='https://vault.keybuzz.io:8200', auth_method='approle', role_id=lookup('file', '/vault/n8n-role-id'), secret_id=lookup('file', '/vault/n8n-secret-id'), verify=False) | b64encode }}"
  webhook-secret: "{{ lookup('community.hashi_vault.hashi_vault', 'secret=kv/keybuzz/apps/n8n:webhook-secret', url='https://vault.keybuzz.io:8200', auth_method='approle', role_id=lookup('file', '/vault/n8n-role-id'), secret_id=lookup('file', '/vault/n8n-secret-id'), verify=False) | b64encode }}"
  jwt-secret: "{{ lookup('community.hashi_vault.hashi_vault', 'secret=kv/keybuzz/apps/n8n:jwt-secret', url='https://vault.keybuzz.io:8200', auth_method='approle', role_id=lookup('file', '/vault/n8n-role-id'), secret_id=lookup('file', '/vault/n8n-secret-id'), verify=False) | b64encode }}"

