# group_vars/redis.yml
# Redis HA configuration for KeyBuzz v3

# Réseau & bind
redis_bind: "0.0.0.0"
redis_port: 6379
redis_protected_mode: "yes"

# Répertoire data Redis (XFS, monté sur /data/redis)
redis_dir: "/data/redis"

# Hôte master initial
redis_master_host: "redis-01"
redis_master_port: 6379

# Mode (pour l’instant : standalone)
redis_enable_replication: false
redis_enable_sentinel: false

# Auth Redis (à déplacer dans Vault en PH6)
redis_auth_password: "OsxjNY98GOeflY8uDxhjNThlN_xWE3LaRVCnhm1UpO4"

# Sentinel (pour plus tard)
sentinel_master_name: "keybuzz-master"
sentinel_port: 26379
sentinel_quorum: 2
sentinel_down_after_milliseconds: 5000
sentinel_failover_timeout: 60000
sentinel_parallel_syncs: 1
