apiVersion: batch/v1
kind: CronJob
metadata:
  annotations:
    kubectl.kubernetes.io/last-applied-configuration: '{"apiVersion":"batch/v1","kind":"CronJob","metadata":{"annotations":{},"name":"outbound-tick-processor","namespace":"keybuzz-api-prod"},"spec":{"concurrencyPolicy":"Forbid","failedJobsHistoryLimit":1,"jobTemplate":{"spec":{"template":{"spec":{"containers":[{"args":["echo
      \"[$(date -u +%H:%M:%S)] Tick starting...\"\ncurl -sk -X POST https://api.keybuzz.io/debug/outbound/tick
      --max-time 10\necho \"\"\necho \"[$(date -u +%H:%M:%S)] Tick complete\"\n"],"command":["/bin/sh","-c"],"image":"badouralix/curl-jq:latest","name":"tick","resources":{"limits":{"cpu":"100m","memory":"64Mi"},"requests":{"cpu":"50m","memory":"32Mi"}}}],"restartPolicy":"Never"}},"ttlSecondsAfterFinished":300}},"schedule":"*/1
      * * * *","successfulJobsHistoryLimit":3}}

      '
  name: outbound-tick-processor
  namespace: keybuzz-api-prod
spec:
  concurrencyPolicy: Forbid
  failedJobsHistoryLimit: 1
  jobTemplate:
    metadata:
      creationTimestamp: null
    spec:
      template:
        metadata:
          creationTimestamp: null
        spec:
          containers:
          - args:
            - 'echo "[$(date -u +%H:%M:%S)] Tick starting..."

              curl -sk -X POST https://api.keybuzz.io/debug/outbound/tick --max-time
              10

              echo ""

              echo "[$(date -u +%H:%M:%S)] Tick complete"

              '
            command:
            - /bin/sh
            - -c
            image: badouralix/curl-jq:latest
            imagePullPolicy: Always
            name: tick
            resources:
              limits:
                cpu: 100m
                memory: 64Mi
              requests:
                cpu: 50m
                memory: 32Mi
            terminationMessagePath: /dev/termination-log
            terminationMessagePolicy: File
          dnsPolicy: ClusterFirst
          restartPolicy: Never
          schedulerName: default-scheduler
          securityContext: {}
          terminationGracePeriodSeconds: 30
      ttlSecondsAfterFinished: 300
  schedule: '*/1 * * * *'
  successfulJobsHistoryLimit: 3
  suspend: false

