apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    deployment.kubernetes.io/revision: '1'

  labels:
    app: keybuzz-outbound-worker
    environment: prod
  name: keybuzz-outbound-worker
  namespace: keybuzz-api-prod
spec:
  progressDeadlineSeconds: 600
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: keybuzz-outbound-worker
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: keybuzz-outbound-worker
    spec:
      containers:
      - command:
        - node
        - dist/workers/outboundWorker.js
        env:
        - name: OUTBOUND_POLL_INTERVAL_MS
          value: '2000'
        - name: SMTP_HOST
          value: mail.keybuzz.io
        - name: SMTP_PORT
          value: '25'
        - name: SMTP_SECURE
          value: 'false'
        - name: SMTP_TLS_REJECT_UNAUTHORIZED
          value: 'false'
        - name: MINIO_ENDPOINT
          value: http://10.0.0.11:9000
        - name: MINIO_ACCESS_KEY
          valueFrom:
            secretKeyRef:
              name: minio-credentials
              key: access-key
        - name: MINIO_SECRET_KEY
          valueFrom:
            secretKeyRef:
              name: minio-credentials
              key: secret-key
        - name: MINIO_BUCKET_ATTACHMENTS
          value: keybuzz-attachments
        envFrom:
        - secretRef:
            name: keybuzz-api-postgres
        - secretRef:
            name: keybuzz-ses
        # Rollback tag: v3.3.5-ph324b-smtp-supplier-prod
        # v3.3.6-ph324b: + PATCH sav-status route
        image: ghcr.io/keybuzzio/keybuzz-api:v3.3.9-ph326-golden-unified
        imagePullPolicy: IfNotPresent
        livenessProbe:
          exec:
            command:
            - /bin/sh
            - -c
            - ps aux | grep outboundWorker.js | grep -v grep
          failureThreshold: 3
          initialDelaySeconds: 10
          periodSeconds: 30
          successThreshold: 1
          timeoutSeconds: 1
        name: worker
        readinessProbe:
          exec:
            command:
            - /bin/sh
            - -c
            - ps aux | grep outboundWorker.js | grep -v grep
          failureThreshold: 3
          initialDelaySeconds: 5
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 1
        resources:
          limits:
            cpu: 200m
            memory: 256Mi
          requests:
            cpu: 50m
            memory: 128Mi
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
      dnsPolicy: ClusterFirst
      imagePullSecrets:
      - name: ghcr-cred
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30

