apiVersion: apps/v1
kind: Deployment
metadata:
  name: keybuzz-admin
  namespace: keybuzz-admin-dev
  labels:
    app: keybuzz-admin
    tier: frontend
    env: dev
spec:
  replicas: 1
  progressDeadlineSeconds: 600
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: keybuzz-admin
      tier: frontend
      env: dev
  template:
    metadata:
      labels:
        app: keybuzz-admin
        tier: frontend
        env: dev
    spec:
      nodeSelector:
        kubernetes.io/hostname: k8s-worker-01
      imagePullSecrets:
      - name: ghcr-secret
      containers:
      - name: keybuzz-admin
        image: ghcr.io/keybuzzio/keybuzz-admin:v1.0.15-dev
        ports:
        - name: http
          containerPort: 3000
          protocol: TCP
        env:
        - name: NODE_ENV
          value: production
        - name: PORT
          value: '3000'
        - name: HOSTNAME
          value: 0.0.0.0
        resources:
          requests:
            cpu: 100m
            memory: 256Mi
          limits:
            cpu: 500m
            memory: 512Mi
        readinessProbe:
          httpGet:
            path: /inbound-email
            port: 3000
            scheme: HTTP
          initialDelaySeconds: 30
          periodSeconds: 10
          timeoutSeconds: 5
          failureThreshold: 12
        livenessProbe:
          httpGet:
            path: /inbound-email
            port: 3000
            scheme: HTTP
          initialDelaySeconds: 60
          periodSeconds: 15
          timeoutSeconds: 5
          failureThreshold: 6
