apiVersion: external-secrets.io/v1
kind: ClusterSecretStore
metadata:
  name: vault-backend
spec:
  provider:
    vault:
      server: https://vault.keybuzz.io
      path: secret
      version: v2
      auth:
        kubernetes:
          mountPath: kubernetes
          role: keybuzz-external-secrets
          serviceAccountRef:
            name: external-secrets
            namespace: external-secrets
