alertmanager:
  enabled: true
  config:
    global:
      resolve_timeout: 5m
    inhibit_rules:
      - equal:
          - namespace
          - alertname
        source_matchers:
          - severity = critical
        target_matchers:
          - severity =~ warning|info
      - equal:
          - namespace
          - alertname
        source_matchers:
          - severity = warning
        target_matchers:
          - severity = info
      - equal:
          - namespace
        source_matchers:
          - alertname = InfoInhibitor
        target_matchers:
          - severity = info
      - target_matchers:
          - alertname = InfoInhibitor
    receivers:
      - name: "null"
      - name: keybuzz-log-only
        webhook_configs:
          - url: http://10.0.0.152:9099/alerts
            send_resolved: true
    route:
      group_by:
        - alertname
        - instance
      group_interval: 5m
      group_wait: 30s
      receiver: keybuzz-log-only
      repeat_interval: 1h
      routes:
        - matchers:
            - alertname = "Watchdog"
          receiver: "null"
    templates:
      - /etc/alertmanager/config/*.tmpl
grafana:
  enabled: true
prometheus:
  prometheusSpec:
    retention: 15d
    storageSpec:
      volumeClaimTemplate:
        spec:
          accessModes:
            - ReadWriteOnce
          resources:
            requests:
              storage: 20Gi
          storageClassName: local-path
prometheusOperator:
  enabled: true